@media (max-width: 768px) {
    /* Контейнер для карусели */
    .carousel-wrapper {
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
        margin-bottom: 20px;
    }

    .carousel {
        display: inline-block;
        white-space: nowrap; /* Не переносим элементы */
    }

    /* Минимальная ширина таблицы для прокрутки */
    table {
        min-width: 600px; /* Задаем минимальную ширину для карусели */
        width: auto;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border: 1px solid #ddd;
    }

    /* Аватар и форма для прикрепления документов */
    .image {
        width: 100%; /* Аватар и форма будут занимать всю ширину */
        display: flex;
        flex-direction: column; /* Вертикальное расположение аватара и формы */
        align-items: center; /* Центрируем их по центру */
        margin-top: 20px; /* Отступ сверху для отделения от таблицы */
    }

    /* Устанавливаем ширину таблицы */
    .info {
        margin-right: -150px;
        width: 100%;
        margin-bottom: 20px; /* Отступ под таблицей */
    }
}















@media (max-width: 768px) {
    .header-room {
        display: flex;
        flex-direction: row; /* Горизонтальное расположение элементов */
        align-items: center; /* Выровнять по вертикали */
        justify-content: center; /* Центрировать логотип и текст */
        margin-top: 10px;
        margin-right: 50px;
    }

    .logo {
        width: 100px; /* Уменьшаем размер логотипа для мобильных */
        height: auto;
        margin-right: 10px; /* Отступ между логотипом и текстом */
        margin-left: 5px; 
    }

    h1 {
        font-size: 18px; /* Уменьшаем размер текста для мобильных */
        margin: 0;
    }
}
