
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 160px;
    margin-bottom: 100px;
}

h1 {
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 15px 25px;
    margin: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #740526;
}


/*buttons img*/
button.main {
    padding: 100px 120px;
    margin: 10px;
    border: none;
    background-color: #007bff;
    background-image: url('images/floor1.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px; 
    height: 150px;
}

button.main:hover {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

button.main2 {
    padding: 100px 120px;
    margin: 10px;
    border: none;
    background-color: #007bff;
    background-image: url('images/floor2.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
    height: 150px;
}

button.main2:hover {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

button.main3 {
    padding: 100px 120px;
    margin: 10px;
    border: none;
    background-color: #007bff;
    background-image: url('images/floor3.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px; 
    height: 150px; 
}

button.main3:hover {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

button.main4 {
    padding: 100px 120px;
    margin: 10px;
    border: none;
    background-color: #007bff;
    background-image: url('images/floor4.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px; 
    height: 150px;
}

button.main4:hover {
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}


.info {
    text-align: left;
    margin-bottom: 20px;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.info {
    flex: 1;
    margin-right: 250px;
}

.image {
    text-align: right;
}

.image img {
    max-width: 150px;
    height: auto;
    margin-bottom: 0px;
}

.upload-form {
    margin-top: 10px;
}

.upload-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.upload-button:hover {
    background-color: #0367d3;
}

#file-upload {
    display: none;
}


.rooms {
    position: relative;
    left: -440px;
}

header {
    position: absolute;
    top: 10px;
    left: 10px;
}

.header-content {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.header-room {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

header h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.main {
    padding: 75px 85px;
    margin: 23px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.image {
    text-align: center;
}

.avatar {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 100px;
}

.name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px; 
}





.icon {
    width: 40px; /* Ширина иконки */
    height: 40px; /* Высота иконки */
    margin-left: 10px; /* Отступ слева от текста */
    vertical-align: middle; /* Выравнивание иконки по середине текста */
}



.image {
    text-align: center;
    position: relative;
}

.date {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}
    

/* table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td {
    font-size: 16px;
}






/* Основные стили футера */
.custom-footer {
    background-color: #111;
    padding: 40px 0;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 0;
    font-size: 16px;
}

.footer-icons {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.footer-icons a img {
    width: 24px;
    height: 24px;
    filter: invert(100%);
}

/* Для мобильных устройств */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        justify-content: center;
    }

    .footer-icons {
        margin-top: 10px;
    }
}



/* Центрирование логотипа */
.custom-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}








/* Стили для изображений кабинетов */
.room-image img {
    width: 100%;
    max-width: 300px; /* Устанавливаем максимальную ширину для изображений */
    border-radius: 8px; /* Добавляем закругленные углы */
    margin-bottom: 20px; /* Отступ снизу */
}






/* Стили для изображений комнат */
.room-img {
    width: 100%;
    max-width: 200px; /* Ограничиваем размер изображений */
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px; /* Отступ снизу от изображения */
}

/* Центрирование и стилизация текста */
.button-container {
    text-align: center;
    margin-bottom: 20px; /* Отступ снизу для каждой кнопки */
}

.button-container p {
    font-size: 16px;
    color: #007bff;
    font-weight: bold;
    margin: 0;
}








.carousel-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    overflow-x: auto; 
    white-space: nowrap; 
    max-width: 900px;
    scroll-behavior: smooth; 
}

.carousel {
    display: inline-block; 
}

.carousel-item {
    display: inline-block; 
    width: 300px; 
    margin-right: 20px; 
    min-width: 300px;
    margin-right: 20px;
    flex-shrink: 0;
    text-align: center;
}

.carousel-item img {
    width: 100%;
    max-width: 300px; 
    height: auto;
    border-radius: 10px;
}

/* Индикатор прокрутки */
.scrollbar {
    height: 5px;
    background-color: #ddd;
    margin-top: 10px;
    border-radius: 5px;
}

.scrollbar-thumb {
    height: 100%;
    width: 20%;
    background-color: #007bff;
    border-radius: 5px;
    transition: transform 0.5s ease;
}

/* Кнопка назад */
.back-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-btn:hover {
    background-color: #0056b3;
}
